* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #262a2f;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 375px;
    background: white;
}

.round-red {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
}